* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  min-height: 100vh;
  color: #111;
}

.container {
  display: flex;
  width: 100%;
  max-width: none;
  margin: 0;
  padding: 0;
}


/*sidebar*/
.sidebar {
  width: 250px;
  background-color: #003b46;
  color: white;
  padding: 25px;
  flex-shrink: 0;
}

.sidebar h2 {
  font-size: 23px;
  color: #00cfcf;
  margin-bottom: 15px;
  padding-bottom: 5px;
}

.sidebar ul {
  list-style: none;
  margin-bottom: 20px;
}

.sidebar li {
  margin: 12px 0;
}

.sidebar a {
  text-decoration: none;
  color: #00cfcf;
  transition: 0.3s;
}

.sidebar a:hover {
  text-decoration: underline;
  color: #ffffff;
}

.sidebar p {
  font-size: 14px;
  margin-top: 20px;
  margin-bottom: 5px;
  border-top: 1px solid #ccc;
  padding-top: 10px;
}


/*buttons*/
.nav-button {
  display: block;
  text-align: center;
  background-color: #00cfcf;       
  color: #003b46 !important;       
  font-weight: 600;
  font-size: 14px;
  text-decoration: none !important; 
  padding: 14px 10px;
  border-radius: 16px;
  margin-bottom: 16px;
  transition: background 0.3s ease, transform 0.2s ease;
  word-wrap: break-word;
}

.nav-button:hover {
  background-color: #00b0b0;        
  transform: scale(1.03);
}

.nav-button.active {
  background-color: #b2edf2;
  color: #002f38 !important;
  font-weight: bold;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: -25px; 
  border-right: 5px #b2edf2;
}


/*feedback form*/
.sidebar form {
  padding: 15px;
  background-color: #002f38;
  border-radius: 6px;
  font-size: 1px;
  border: 1px solid #005e64;
  max-width: 90%;
}

.sidebar form p,
.sidebar form label {
  display: block;
  color: #ffffff;
  margin-bottom: 8px;
  font-size: 14px;
}

.sidebar form input[type="text"] {
  width: 100%;
  padding: 6px;
  border-radius: 4px;
  border: none;
  background-color: #fff;
  margin-bottom: 12px;
}

.sidebar form input[type="radio"] {
  margin-right: 5px;
  margin-bottom: 10px;
}

.sidebar form button {
  padding: 6px 14px;
  background-color: #00cfcf;
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 8px;
  transition: 0.3s ease;
}

.sidebar form button:hover {
  background-color: #00b0b0;
}

.sidebar form input[type="radio"] {
  margin-right: 5px;
  vertical-align: middle;
}

.sidebar form label {
  margin-right: 10px;
  display: inline-block;
}




/*main page*/
.content {
  display: flex;
  gap: 30px;
  padding: 40px;
  background: linear-gradient(to bottom, #b2edf2, #00798c);
  width: 100%;
  
}

.main-area {
  flex: 1;
}

.external-box {
  background-color: #003b46;
  color: #b2edf2;
  padding: 20px;
  border-radius: 12px;
  width: 220px;
  align-self: flex-start;
}

.external-box h3 {
  font-size: 16px;
  margin-bottom: 10px;
  border-bottom: 1px solid #b2edf2;
  padding-bottom: 5px;
}

.external-box ul {
  list-style-type: disc;
  padding-left: 20px;
}

.external-box a {
  color: #00cfcf;
  text-decoration: none;
}

.external-box a:hover {
  text-decoration: underline;
  color: #b2edf2;
}


/*table*/
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  margin-bottom: 30px;
}

table, th, td {
  border: 1px solid #002f38;
}

th {
  background-color: #007e8c;
  color: white;
  padding: 10px;
  text-align: left;
}

td {
  padding: 10px;
}

.variation-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.variation-table th,
.variation-table td {
  padding: 10px;
  text-align: left;
  border: 1px solid #002f38;
}

.variation-table th {
  background-color: #00798c;
  color: white;
}

.red {
  background-color: #f28c8c;
  color: black;
  font-weight: bold;
}

.orange {
  background-color: #ffe08c;
  color: black;
  font-weight: bold;
}

.yellow {
  background-color: #fff7ad;
  color: black;
  font-weight: bold;
}

.green {
  background-color: #a9e5b4;
  color: black;
  font-weight: bold;
}


/*images*/
img {
  margin-top: 25px;
  max-width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
}

@media screen and (max-width: 900px) {
  .content {
    flex-direction: column;
  }

  .external-box {
    width: 100%;
    margin-top: 20px;
  }
}
